<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <entityFramework>
    <contexts>
      <context type="QuestsSystem.Data.QuestsContext, QuestsSystem">
        <databaseInitializer type="QuestsSystem.Data.QuestsInitializer, QuestsSystem" />
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="QuestContext" connectionString="Data Source=localhost;Initial Catalog=QuestsSystemDB;Integrated Security=SSPI;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
